<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Deputy</title>

</head>

<body class="container-fluid" ng-app="Deputy" ng-controller="MainController as $ctrl" ng-cloak>

    <div class="form-inline text-center">
        <div class="form-group">
            <label for="startDate" class="control-label">Start Date</label>
            <input type="date" class="form-control " id="startDate" placeholder="Start Date" ng-model="$ctrl.startDate" required ng-blur="$ctrl.updateEndDate()">
        </div>

        <div class="form-group">
            <label for="endDate" class="control-label">End Date</label>
            <input type="date" class="form-control" id="endDate" placeholder="End Date" ng-model="$ctrl.endDate" required disabled>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.readRosters()" ng-disabled="$ctrl.loading">View Roster</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tfoot ng-if="$ctrl.showFoot(roster)" ng-repeat-start="roster in $ctrl.rosters | groupBy:'[OperationalUnit,Employee]' track by $index">
                <tr>
                    <th>Day Shifts</th>
                    <th ng-repeat="date in $ctrl.dateRange track by $index" ng-bind-html="::$ctrl.totalForDate(date, 'day', roster)" ng-class="{'danger':$ctrl.totalForDate(date, 'day', roster) === 0}"></th>
                </tr>
                <tr>
                    <th>Night Shifts</th>
                    <th ng-repeat="date in $ctrl.dateRange track by $index" ng-bind-html="::$ctrl.totalForDate(date, 'night', roster)" ng-class="{'danger':$ctrl.totalForDate(date, 'night', roster) === 0}"></th>
                </tr>
            </tfoot>
            <thead ng-if="$ctrl.showHead(roster)">
                <tr class="bg-primary">
                    <th ng-bind="::roster[0]._DPMetaData.OperationalUnitInfo.OperationalUnitName"></th>
                    <th ng-repeat="date in $ctrl.dateRange track by $index" ng-bind-html="::date.format('DD MMM<br/>ddd')"></th>
                    <th>Number of shifts</th>
                </tr>
            </thead>
            <tbody ng-repeat-end>
                <tr>
                    <th ng-bind="::roster[0]._DPMetaData.EmployeeInfo.DisplayName"></th>
                    <td ng-repeat="shift in $ctrl.shiftRange(roster) track by $index" ng-bind="::$ctrl.shiftText(shift)" ng-class="::$ctrl.shiftClass(shift)"></td>
                    <th ng-bind="::roster.length"></th>
                </tr>
            </tbody>

        </table>
    </div>

</body>

</html>