<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Deputy</title>

</head>

<body ng-app="Deputy" ng-controller="MainController as $ctrl">

    <h1>Locations</h1>
    <ul>
        <li ng-repeat="location in $ctrl.locations" ng-bind="location.CompanyName"></li>
    </ul>

    <h1>Areas</h1>
    <ul>
        <li ng-repeat="area in $ctrl.areas" ng-bind="area.OperationalUnitName"></li>
    </ul>

    <h1>Employees</h1>
    <ul>
        <li ng-repeat="employee in $ctrl.employees" ng-bind="employee.DisplayName"></li>
    </ul>

    <h1>Roster</h1>
    <ul>
        <li ng-repeat="roster in $ctrl.rosters" ng-bind="roster.Date"></li>
    </ul>

</body>

</html>