<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Deputy</title>

</head>

<body ng-app="Deputy" ng-controller="MainController as $ctrl">

    <div ng-repeat="roster in $ctrl.rosters | groupBy:'[OperationalUnit,Employee]'">
        <h1 ng-if="$ctrl.showArea(roster)" ng-bind="roster[0]._DPMetaData.OperationalUnitInfo.OperationalUnitName"></h1>
        <ul>
            <li>
                <h2 ng-bind="roster[0]._DPMetaData.EmployeeInfo.DisplayName"></h2>
                <ul>
                    <li ng-repeat="shift in roster">{{shift.StartTimeLocalized}} - {{shift.Comment}}</li>
                </ul>
            </li>
        </ul>
    </div>

</body>

</html>